{% extends "base.html" %}
{% block title %}Branch Change Portal{% endblock %}
{% block head %}Algorithm Portal {% endblock %}
{% block nav %}<a class="btn btn-success" href="/logout/" role="button">Logout</a>{% endblock %}
{% block content %}
     <hr>
     <div class="col-md-4"></div><div class="col-md-3">
        <a class='btn btn-lg btn-primary btn-block' role="button" href="/admin1/algorithm/code1" >Applied Candidates</a>
      <hr>
        <a class='btn btn-lg btn-primary btn-block' role="button" href="/admin1/algorithm/code2" >Input CSV</a>
     <hr>
       <a class='btn btn-lg btn-primary btn-block' href="/admin1/" role="button">Admin Home</a>
     </div>
     <hr>
{% endblock %}