{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}User Registration{% endblock %}
{% block nav %}<a class="btn btn-success" href="/home/" role="button">Login</a>{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
	<form method="post" action=".">{% csrf_token %}
        <div class="col-md-4"></div><div class="col-md-3">
        {{form|crispy}}
        <button class='btn btn-lg btn-primary btn-block' type="submit">Register</button>
        </div>
    </form>
{% endblock %}