{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Branch Change Portal {% endblock %}
{% block user %} | {{user.username}} {% endblock %}
{% block nav %} <a class="btn btn-success" href="/logout/" role="button">Logout</a>{% endblock %}
{% block head %}
Welcome to the Branch Change Portal of IITB
{% endblock %}

{% block content %} 
<div class="col-md-4"></div><div class="col-md-3">

  <a class='btn btn-lg btn-primary btn-block' href="/admin1/" role="button">Admin Home</a>
  <hr>

</div>
{% endblock %}
